/* 메인 */
.openContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


/* 포켓몬 카드 */
:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --eeveefront: url(https://i.pinimg.com/736x/18/f0/12/18f01280b7e650840ea0dbff249c3f12.jpg);
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }

  .card {
    width: clamp(150px, 25vw, 300px);
    height: calc(clamp(150px, 25vw, 300px) * 1.4);
  }
}

.cards, .demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

.card {
  width: clamp(200px, 30vw, 400px);
  height: calc(clamp(200px, 30vw, 400px) * 1.4);
  position: relative;
  margin: 20px;
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1),
              5px 5px 5px -5px var(--color2),
              -7px -7px 10px -5px transparent,
              7px 7px 10px -5px transparent,
              0 0 5px 0px rgba(255, 255, 255, 0),
              0 55px 35px -20px rgba(0, 0, 0, 0.5);
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  touch-action: none;
  overflow: hidden;
  z-index: 10;
  transform-origin: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background-position 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
              20px 20px 30px -25px var(--color2),
              -7px -7px 10px -5px var(--color1),
              7px 7px 10px -5px var(--color2),
              0 0 13px 4px rgba(255, 255, 255, 0.3),
              0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) rotateX(5deg) rotateY(5deg);
}

.card:before, .card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: background-position 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.card:before {
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  filter: brightness(0.5) contrast(1);
}

.card:after {
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
                    url(https://assets.codepen.io/13471/holo.png),
                    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  opacity: 0.75;
}

.card:hover:before {
  background-position: 60% 60%;
  filter: brightness(0.75) contrast(1.25);
}

.card:hover:after {
  background-position: 60% 60%;
  filter: brightness(1.2) contrast(1.5);
  opacity: 1;
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}

.card.eevee:hover {
  box-shadow: 0 0 30px -5px white,
              0 0 10px -2px white,
              0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before {
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    var(--color1) 36%,
    var(--color2) 43%,
    var(--color3) 50%,
    var(--color4) 57%,
    var(--color5) 64%,
    transparent 80%
  );
}

/* 웹캠 */
#container {
  width:100vw;
  height:100vh;
}
  #videoElement {
  width: 100%;
  height: 100%;
  background-color: #666;
}